<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <!-- CSS読み込み -->
    <link rel="stylesheet" th:href="@{/css/admin/products.css}">

    <!-- JS読み込み -->
    <script th:src="@{/js/admin/products.js}" defer></script>

    <title>商品管理ページ</title>
</head>

<body>
    <div layout:fragment="content">

        <div>
            <!-- パンくずリスト -->
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">管理者メニュー</a></li>
                    <li class="breadcrumb-item active">商品管理</li>
                </ol>
            </div>

            <div class="container">
                <h1>商品管理ページ</h1>
                <div class="row">
                    <div class="col">
                        <h2>新規登録</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" id="btn-register-goods" class="btn btn-primary">
                            商品を新規登録する
                        </button>
                    </div>
                </div>

                <hr>            

                <div class="row">
                    <div class="col">
                        <h2>商品一覧</h2>
                    </div>
                </div>

                <form id="admin-goods-search-form" method="post" th:action="@{/admin/goods}"
                th:object="${shoppingSearchForm}">
                <div class="row mb-4">
                    <div class="col-sm">
                        <select class="form-select" th:field="*{goodsCategoryId}">
                            <option value="0" selected>教材カテゴリを選んで検索</option>
                            <option
                                th:each="goodsCategories : ${goodsCategoryList}"
                                th:value="${goodsCategories.goodsCategoryId}"
                                th:text="${goodsCategories.goodsCategoryName}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <input class="form-control me-2" type="search" placeholder="フリーワード検索" th:field="*{goodsKeyword}">
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-outline-primary" type="submit">検索</button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>教材名</th>
                        <th>説明</th>
                        <th>教材カテゴリ</th>
                        <th>価格</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="goods: ${goodsList}">                    
                        <td th:text="${goods.goodsName}"></td>
                        <td th:text="${goods.goodsDescription}"></td>
                        <td th:text="${goods.goodsCategory.goodsCategoryName}"></td>
                        <td th:text="|\ ${goods.price}|"></td>
                        <td>
                            <form class="form-update-goods">
                                <input name="goodsId" th:value="${goods.goodsId}" type="hidden">
                                <button class="btn btn-primary btn-update-goods" type="submit">変更</button>
                            </form>
                        </td>
                        <td>
                            <form class="form-delete-goods">
                                <input name="goodsId" th:value="${goods.goodsId}" type="hidden">
                                <button class="btn btn-primary btn-delete-goods" type="submit">削除</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <!-- 管理者メニューに戻るボタンを追加 -->
            <div class="container">
                <a href="/admin" id="btn-back2admin" class="btn btn-secondary">管理者メニューに戻る</a>
            </div>
        </div>

    </div>
</body>
</html>