<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <!-- CSS読み込み -->
    <link rel="stylesheet" th:href="@{/css/admin/goods.css}">

    <!-- JS読み込み -->
    <script th:src="@{/js/admin/goods.js}" defer></script>

    <title>商品管理ページ</title>
</head>

<body>    
    <div layout:fragment="content">

        <!-- 商品登録モーダルダイアログ -->
        <div id="register-goods-area" class="register-goods-area">
            <form class="register-goods-form" method="post" th:action="@{/admin/goods/register}"
            th:object="${registerGoodsForm}">
            
                <h1 class="text-center">商品登録</h1>    
                <!-- 教材名 -->
                <div class="mb-2">
                    <label for="userId" class="form-label">教材名</label>
                    <input type="text" class="form-control" th:field="*{goodsName}"/>
                </div>
    
                <!-- 説明 -->
                <div class="mb-2">
                    <label for="userId" class="form-label">説明</label>
                    <textarea class="form-control" th:field="*{goodsDescription}"></textarea>
                </div>
    
                <!-- 教材カテゴリ -->
                <div class="mb-2">
                    <label for="userId" class="form-label">教材カテゴリ</label>
                    <select class="form-select" th:field="*{goodsCategoryId}">
                        <option value="0" selected>教材カテゴリを選んで検索</option>
                        <option
                            th:each="goodsCategories : ${goodsCategoryList}"
                            th:value="${goodsCategories.goodsCategoryId}"
                            th:text="${goodsCategories.goodsCategoryName}">
                        </option>
                    </select>
                </div>
    
                <!-- 価格 -->
                <div class="mb-2">
                    <label for="userId" class="form-label">価格</label>
                    <input type="text" class="form-control" th:field="*{price}"/>
                </div>
    
                <!-- サービスURL -->
                <div class="mb-2">
                    <label for="userId" class="form-label">サービスURL</label>
                    <input type="text" class="form-control" th:field="*{serviceURL}"/>
                </div>    

                <div class="row">
                    <div class="col">
                        <!-- 登録ボタン -->
                        <!-- admin/goods/register へ post リクエストを submit するボタンを追加-->
                        <button id="btn-register-goods-submit" type="submit" class="btn btn-primary w-100 mt-3">
                            登録
                        </button>
                    </div>
                    <div class="col">
                        <!-- 戻るボタン -->
                        <button id="btn-register-goods-cancel" type="button" class="btn btn-secondary w-100 mt-3">
                            戻る
                        </button>
                    </div>
                </div>                  
            </form>
        </div>

        <!-- 商品管理ページ -->
        <div class="goods-manage-page">
            <!-- パンくずリスト -->
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">管理者メニュー</a></li>
                    <li class="breadcrumb-item active">商品管理</li>
                </ol>
            </div>

            <div class="container">
                <div class="container">
                    <a href="/admin" id="btn-back2admin" class="btn btn-secondary">管理者メニューに戻る</a>
                </div>

                <h1>商品管理ページ</h1>

                <div class="row">
                    <div class="col">
                        <h2>新規登録</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" id="btn-register-goods" class="btn btn-primary">
                            商品を新規登録する
                        </button>
                    </div>
                </div>

                <hr>            

                <div class="row">
                    <div class="col">
                        <h2>商品一覧</h2>
                    </div>
                </div>

                <form id="admin-goods-search-form" method="post" th:action="@{/admin/goods}"
                th:object="${searchGoodsForm}">
                <div class="row mb-4">
                    <div class="col-sm">
                        <select class="form-select" th:field="*{goodsCategoryId}">
                            <option value="0" selected>教材カテゴリを選んで検索</option>
                            <option
                                th:each="goodsCategories : ${goodsCategoryList}"
                                th:value="${goodsCategories.goodsCategoryId}"
                                th:text="${goodsCategories.goodsCategoryName}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <input class="form-control me-2" type="search" placeholder="フリーワード検索" th:field="*{goodsKeyword}">
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-outline-primary" type="submit">検索</button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>教材名</th>
                        <th>説明</th>
                        <th>教材カテゴリ</th>
                        <th>価格</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="goods: ${goodsList}">                    
                        <td th:text="${goods.goodsName}"></td>
                        <td th:text="${goods.goodsDescription}"></td>
                        <td th:text="${goods.goodsCategory.goodsCategoryName}"></td>
                        <td th:text="|\ ${goods.price}|"></td>
                        <td>
                            <form class="form-update-goods">
                                <input name="goodsId" th:value="${goods.goodsId}" type="hidden">
                                <button class="btn btn-primary btn-update-goods" type="submit">変更</button>
                            </form>
                        </td>
                        <td>
                            <form class="form-delete-goods">
                                <input name="goodsId" th:value="${goods.goodsId}" type="hidden">
                                <button class="btn btn-secondary btn-delete-goods" type="submit">削除</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>