<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~layout/layout">
    <head>
    </head>

    <body>
        <div layout:fragment="header" >

        <nav class="navbar navbar-expand navbar-fixed-top navbar-dark bg-dark">
            <div class="container">
                <div class="col">
                    <a href="/" class="navbar-brand">デジタル教材.com</a>
                </div>
                <div class="mx-2 col-md-auto">
                    <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="get">
                        <button class="btn btn-outline-success" type="submit">ログイン</button>
                    </form>                            
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button sec:authorize="isAuthenticated()" class="btn btn-outline-success" type="submit">ログアウト</button>
                    </form>                            
                </div>
                <div class="col col-sm-2">
                    <div sec:authorize="!isAuthenticated()" class="flex-column">
                        <span class="navbar-text">初めての方は</span>
                        <a th:href="@{/signup}" >コチラ</a>                    
                    </div>        
                </div>
                <div class="col col-sm-2">
                    <div sec:authorize="isAuthenticated()" class="flex-column navbar-text">
                        <!-- ログインしているユーザーの名前を表示-->
                        <span sec:authentication="name"></span>
                        さんでログインしています
                    </div>        
                </div>
            </div>        
        </nav>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">ホーム<span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store">ストア<span class="visually-hidden"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="account.html">アカウント</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    </body>
</html>

