<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

    <head>
        <script th:src="@{/js/study/buttonList.js}" defer></script>
        <title>ボタンの値を送信してセッション更新</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <table class="table">                
                    <tr>
                        <td>
                            <button value="文字列1" type="submit" class="btn btn-primary btn-set-value-to-session">ボタン1</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button value="文字列2" type="submit" class="btn btn-primary btn-set-value-to-session">ボタン2</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button value="文字列3" type="submit" class="btn btn-primary btn-set-value-to-session">ボタン3</button>
                        </td>
                    </tr>
                </table>
            </div>            
        </div>
    </body>
</html>