<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/cart/cart.js}" defer></script>
    <title>ストア - デジタル教材.com</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="my-2 text-end">
                    <a th:href="@{/store/cart/view}" button class="btn btn-outline-dark" type="button">カートの中を見る</a>
            </div>
        </div>

        <div class="container">
            <h2>教材一覧</h2>
            <form id="goods-search-form" method="post" th:action="@{/store}"
                th:object="${searchGoodsForm}">
                <div class="row mb-4">
                    <div class="col-sm">
                        <select class="form-select" th:field="*{goodsCategoryId}">
                            <option value="0" selected>教材カテゴリを選んで検索</option>
                            <option
                                th:each="goodsCategories : ${goodsCategoryList}"
                                th:value="${goodsCategories.goodsCategoryId}"
                                th:text="${goodsCategories.goodsCategoryName}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <input class="form-control me-2" type="search" placeholder="フリーワード検索" th:field="*{goodsKeyword}">
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-outline-primary" type="submit">検索</button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>教材名</th>
                        <th>説明</th>
                        <th>教材カテゴリ</th>
                        <th>価格</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="goods: ${goodsList}">                    
                        <td th:text="${goods.goodsName}"></td>
                        <td th:text="${goods.goodsDescription}"></td>
                        <td th:text="${goods.goodsCategory.goodsCategoryName}"></td>
                        <td th:text="|\ ${goods.price}|"></td>
                        <td>
                            <form class="form-add-to-cart">
                                <input name="goodsId" th:value="${goods.goodsId}" type="hidden">
                                <button class="btn btn-primary btn-add-to-cart" type="submit">カートに追加する</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>