<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

    <head>
        <link th:href="@{/css/payselect.css}" rel="stylesheet">
        <title>お支払方法選択</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="container">
                <h2>ご購入情報</h2>
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div th:text="|\ ${cart.sumPrice}|" class="p-2 bd-highlight"></div>
                    <div class="p-2 bd-highlight">合計</div>
            </div>
            
            ご購入明細
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="items: ${cart.cartItems}">
                        <td th:text="${items.goodsName}"></td>
                        <td th:text="|\ ${items.price}|"></td>
                    </tr>
                </tbody>
            </table>

            <!-- カート内容表示に戻るボタンを追加 -->
            <div class="container">
                <nav class="my-2">
                    <div class="payselect-cancel">
                        <a th:href="@{/store/cart}" class="btn btn-secondary btn-payselect-cancel" type="button">カート内容表示に戻る</a>
                    </div>
                </nav>
            </div>
            
            <h2>支払方法の選択</h2>
            ご希望の支払い方法を選択してください。
            <div id="paymentMethodList">
                <div th:each="paymentMethod: ${paymentMethodList}">
                    <form th:action="@{/store/payselect}" method="post" th:object="${paySelectForm}">
                        <input type="hidden" name="paymentMethod" th:value="${paymentMethodId}" />
                        <button type="submit" class="btn btn-outline-primary btn-payselect" th:text="${paymentMethod.paymentMethodName}"></button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>