<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>ユーザー</title>
</head>

<body>
    <div>
        <!-- パンくずリスト -->
        <ol class="breadcrumb">
            <li class="active">ユーザートップ</li>
        </ol>
    </div>

    <div layout:fragment="content">
        <div class="container">
            <h1>ユーザートップ</h1>
            <div>
                <h2>購入商品一覧</h2>

                <!-- 購入商品が0県の場合 -->
                <div th:if="${ownedGoodsList.size() == 0}">
                    <p>購入商品はありません。</p>
                </div>

                <!-- 購入商品が1件以上の場合 -->
                <div th:if="${ownedGoodsList.size() > 0}">
                    <p>購入商品は以下の通りです。</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>商品名</th>
                                <th>説明</th>
                                <th>商品カテゴリ</th>
                                <th>価格</th>
                                <th>購入日</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="goods : ${ownedGoodsList}">
                                <td th:text="${goods.goodsName}"></td>
                                <td th:text="${goods.goodsDescription}"></td>
                                <td th:text="${goods.goodsCategory.goodsCategoryName}"></td>
                                <td th:text="${goods.price}"></td>
                                <td th:text="${#dates.format(goods.purchaseDate, 'yyyy/MM/dd')}"></td>
                                <td>
                                    <a th:href="@{'/goods/' + ${goods.serviceURL}}" class="btn btn-primary">閲覧</a>
                                </td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-4">
                    <a href="/admin/goods" class="btn btn-primary btn-lg btn-block">ユーザーアカウント管理</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>