<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.GoodsMapper">
	<select id="findAllGoodsCategories" resultType="MGoodsCategory">
		select * from m_goods_category
	</select>
	
	
	<resultMap id="goods" type="com.example.domain.goods.model.MGoods">
		<id column="goods_id" property="goodsId" />
		<result column="goods_name" property="goodsName" />
		<result column="goods_description" property="goodsDescription" />
		<result column="price" property="price" />
		<result column="goods_category_id" property="goodsCategoryId"/>
		<result column="service_url" property="serviceURL"/>
		<association property="goodsCategory" resultMap="goods_category"></association>
	</resultMap>
	
	<resultMap id="goods_category" type="com.example.domain.goods.model.MGoodsCategory">
		<id column="goods_category_id" property="goodsCategoryId" />
		<result column="goods_category_name" property="goodsCategoryName"/>
	</resultMap>
	
	<select id="findAllGoods" resultMap="goods">
		select
			*
		 from
		    m_goods
		    left join m_goods_category
		    	on m_goods.goods_category_id = m_goods_category.goods_category_id
		 <where>
			 <if test='goodsCategoryId != null and goodsCategoryId != "0"'>
				 m_goods_category.goods_category_id = #{goodsCategoryId}				 
			 </if>
			 <if test="goodsKeyword != null and goodsKeyword != ''">
				 and (m_goods.goods_name like '%' || #{goodsKeyword} || '%' OR m_goods.goods_description like '%' || #{goodsKeyword} || '%')
			 </if>
		 </where>
	</select>

	<select id="findOne" resultMap="goods">
		select
			*
		from
			m_goods
			left join m_goods_category
				on m_goods.goods_category_id = m_goods_category.goods_category_id
		where
			goods_id = #{goodsId}
	</select>

	<insert id="insertOne">
		insert into m_goods
		(goods_id, goods_name, goods_description, price, goods_category_id, service_url)
		values
		(NEXTVAL('goods_seq'), #{goodsName}, #{goodsDescription}, #{price}, #{goodsCategoryId}, #{serviceURL})
	</insert>

	<update id="updateOne">
		update m_goods
		set
			goods_name = #{goodsName},
			goods_description = #{goodsDescription},
			price = #{price},
			goods_category_id = #{goodsCategoryId},
			service_url = #{serviceURL}
		where
			goods_id = #{goodsId}
	</update>
</mapper>