<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">
	<select id="findAllOccupations" resultType="Occupation">
		select * from m_occupation
	</select>
	<insert id="insertOne">
		insert into m_user(
			user_id,
			mail_address,
			password,
			user_name,
			furigana,
			phone_number,
			birthday,
			occupation_id,
			role
		)
		values(
			NEXTVAL('user_seq'),
			#{mailAddress},
			#{password},
			#{userName},
			#{furigana},
			#{phoneNumber},
			#{birthday},
			#{occupationId},
			#{role}
		)
	</insert>

	<!-- ログインユーザー情報取得-->
	<select id="findLoginUser" resultType="MUser">
		select
		  *
		from
		  m_user
		where
		  mail_address = #{mailAddress}
	</select>
</mapper>